﻿@model CoursewareIT.ViewModel.AuthRegister
<br />
<div class="login-offset">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@CoursewareIT.Resources.Main.Register</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="col-md-offset-1  input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                @Html.TextBoxFor(m => m.UserName,new {@class="form-control", @placeholder="Username"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type="password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password",@type="password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-6">
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </div>
                        </div>
                    }
                </div>
                <div class="panel-footer">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <br />
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>