﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="#menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-th-list fa-2x" style="color: #ffffff;"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home",null,CultureInfo.CurrentCulture)">C<i class="fa fa-globe"></i>URSE WARE</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(CoursewareIT.Resources.Main.Posts, "Index", "Home",null,null)</li>
                    <li>@Html.ActionLink(CoursewareIT.Resources.Main.About, "About", "Home",null,null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
                    @using (Html.BeginForm("Index","Home",FormMethod.Post,new {@class= "navbar-form navbar-right form-inline" }))
                    {
                        <div class="add-on form-group">
                            <input type="text" name="searchString" class="form-control" placeholder="@CoursewareIT.Resources.Main.SearchTopic">
                            <button class="hidden-xs" style="padding-left: 0" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    }
            </div>
        </div>
    </div>
    @if (User.IsInRole("admin"))
    {
        <div id="adminalert" class="alert alert-success">
            <p>
                @CoursewareIT.Resources.Main.Wow <a href="@Url.Action("Index","Posts",new {area="admin"},(CultureInfo)null)">Admin <i class="fa fa-bolt"></i></a>
            </p>
        </div>
        }
    @RenderBody()
    <br />
    <footer class="text-center ">

        <div class="social">
            <ul>
                <li><a href="https://facebook.com/moutasem.abdullatif" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="https://twitter.com/moutasemmohamma" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="https://tr.linkedin.com/in/moutasem-abdullatif-71017398" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
            </ul>
        </div>
        <h5><strong>MOUTASEM ABDULLATIF</strong><br />G140910075</h5>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
