﻿
<ul class="nav navbar-nav navbar-right">
    @if (!User.Identity.IsAuthenticated)
    {

        <li><a href="@Url.Action("Register","Auth",null,(CultureInfo)null)"><span class="glyphicon glyphicon-user"></span> @CoursewareIT.Resources.Main.Register</a></li>
        <li><a href="@Url.Action("Login", "Auth",null,(CultureInfo)null)"><span class="glyphicon glyphicon-log-in"></span> @CoursewareIT.Resources.Main.Login</a></li>
    }
    else
    {
        <li><a><span class="glyphicon glyphicon-user"></span> @User.Identity.Name</a></li>
        <li><a href="@Url.Action("Logout", "Auth",null,(CultureInfo)null)"><span class="glyphicon glyphicon-log-out"></span> @CoursewareIT.Resources.Main.Logout</a></li>
    }
    <li id="dropdown" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language fa-2x"></i></a>
        <ul class="dropdown-menu" style="min-width: 40px !important;">
            <li ><a href="/en/" class="pull-right"><img src="~/Content/images/flag-uk.png" alt="En" /></a></li>
            <li ><a href="/tr/" class="pull-right"><img src="~/Content/images/flag-tr.png" alt="Tr" /></a></li>
        </ul>
    </li>
</ul>
