﻿@model CoursewareIT.Areas.admin.ViewModel.PostsForm

<div class="container">
    <br />
    @using (Html.BeginForm("Form", "Posts", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <h3>@(Model.IsNew ? CoursewareIT.Resources.Main.AddNewPost : CoursewareIT.Resources.Main.EditPost)</h3>
                <!-- Blog Post -->
                <hr>
                @if (!Model.IsNew)
                {
                    @Html.HiddenFor(m => m.PostId)
                }
                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <div class="form-group">
                    @Html.LabelFor(f => f.Title)
                    @Html.TextBoxFor(f => f.Title, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(f => f.Content)
                    @Html.TextAreaFor(f => f.Content, new { @class = "form-control" ,rows="8"})
                </div>

                <!-- Post Content -->
                <hr>
                <input type="submit" value="@(Model.IsNew ? CoursewareIT.Resources.Main.AddPost:CoursewareIT.Resources.Main.UpdatePost)" class="btn btn-success pull-right" />
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="col-md-4">
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>@CoursewareIT.Resources.Main.Tags</h4>
                    <div class="row">
                        <div class="col-lg-10">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label for="1">
                                        <input type="checkbox" value="1" id="1"/>
                                        Iot
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label for="2">
                                        <input type="checkbox" value="1" id="2" />
                                        Big Data
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label for="3">
                                        <input type="checkbox" value="1" id="3" />
                                        Internet Of Things
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label for="4">
                                        <input type="checkbox" value="1" id="4" />
                                        Cloud
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label for="5">
                                        <input type="checkbox" value="1" id="5" />
                                        Programming
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    }
</div>