﻿@model CoursewareIT.Areas.admin.ViewModel.PostsIndex

<div class="bg-1 container-fluid  text-center">
    <h3>Dashboard</h3>
    <div class="slide">
        <img id="#about-img" src="~/Content/images/user@2x.png" class="img-circle" style="border: 3px solid antiquewhite" alt="developer" />
    </div>
    <br />
</div>

<div class="bg-2 container-fluid  text-center">
    <div style="margin-top: 50px;">
        <h3>@CoursewareIT.Resources.Main.Statistics</h3>
        <div class="row .about-icons">
            <br /><br />
            <div class="col-md-4 ">

                <div class="slide-anime">
                    <i class="fa fa-book fa-4x"></i>
                    <br />
                    <p>@CoursewareIT.Resources.Main.TotalPosts</p>
                    <p><span class="count">@Model.Posts.Count</span></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="slide-anime">
                    <i class="fa fa-comments fa-4x slide-anime"></i>
                    <br />
                    <p>@CoursewareIT.Resources.Main.TotalComments</p>
                    <p><span class="count">159</span></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="slide-anime">
                    <i class="fa fa-eye fa-4x slide-anime"></i>
                    <br />
                    <p>@CoursewareIT.Resources.Main.TotalViews</p>
                    @{
                        var view=0;
                        for (int i = 0; i < Model.Posts.Count; i++)
                        {
                            view +=(int)Model.Posts[i].Views;
                        }
                    }
                    <p><span class="count">@view</span></p>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(window)
            .scroll(function () {
                $('.slide-anime')
                    .each(function () {
                        $(this).addClass('slide');
                    });
            });

        $('.count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    </script>
}