﻿@model CoursewareIT.Areas.admin.ViewModel.PostsViewPosts
<h3>Posts</h3>
<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@Url.Action("New")" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Post</a>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@CoursewareIT.Resources.Main.Title</th>
            <th>@CoursewareIT.Resources.Main.Author</th>
            <th>@CoursewareIT.Resources.Main.Tags</th>
            <th>@CoursewareIT.Resources.Main.Views</th>
            <th>@CoursewareIT.Resources.Main.Date</th>
            <th>@CoursewareIT.Resources.Main.Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.User.UserName</td>
                <td>
                    @foreach (var tag in post.Tags)
                    {
                        <a class="btn btn-xs btn-default">@tag.TagName</a>
                    }
                </td>
                <td><i class="fa fa-eye"></i> @post.Views</td>
                <td>@post.post_date</td>
                <td>
                    <a href="@Url.Action("Delete",new {id=post.PostId})" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> @CoursewareIT.Resources.Main.Delete</a>
                    <a href="@Url.Action("Edit",new {id=post.PostId})" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> @CoursewareIT.Resources.Main.Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
