﻿@helper SelectedTabClass(string selectedTab)
{
    if (selectedTab == ViewBag.SelectedTab)
    {
        @:active
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Panel</title>
    @Styles.Render("~/Content/admin/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="#menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-th-list fa-2x" style="color: #212121;"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Posts")">C<i class="fa fa-globe"></i>URSE WARE</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home", new {area = ""})">@CoursewareIT.Resources.Main.BackToWebsite</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div id="wrapper">

        <!--        Sidebar-wrapper-->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="#menu">
                <li class="@SelectedTabClass("dashboard")">
                    <a href="@Url.Action("Index","Posts")">
                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-archive fa-stack-1x "></i></span>
                        Dashboard
                    </a>
                </li>
                <li class="@SelectedTabClass("users")">
                    <a href="@Url.Action("Index","Users")">
                        <span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span>
                        @CoursewareIT.Resources.Main.Users
                    </a>
                </li>
                <li class="@SelectedTabClass("posts")">
                    <a href="@Url.Action("ViewPosts", "Posts")">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-file-text fa-stack-1x "></i>
                        </span>@CoursewareIT.Resources.Main.Posts
                    </a>
                </li>
                <li class="@SelectedTabClass("new")">
                    <a href="@Url.Action("New","Posts")"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-newspaper-o fa-stack-1x "></i></span>@CoursewareIT.Resources.Main.PostNewEdit</a>
                </li>
                @*<li>
                    <a href="#">
                        <span class="fa-stack fa-lg pull-left">
                            <i class="fa fa-youtube-play fa-stack-1x "></i>
                        </span>About
                    </a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Services</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contact</a>
                </li>*@
            </ul>
        </div>
        <!--        End Sidebar-wrapper-->
        <!--Page-content-Wrapper -->
        <div id="page-content-wrapper">
            @RenderBody()
        </div>
        <!--    End Page-content-Wrapper-->
    </div>
    @*<br />

    <br />
    <footer class="text-center ">


        <h5><strong>MOUTASEM ABDULLATIF</strong><br />G140910075</h5>
    </footer>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
