﻿



<ul class="nav navbar-nav navbar-right">
    <li><a><span class="glyphicon glyphicon-user"></span> @User.Identity.Name</a></li>
    <li><a href="@Url.Action("Logout", "Auth",new {area=""})"><span class="glyphicon glyphicon-log-out"></span> @CoursewareIT.Resources.Main.Logout</a></li>
    <li id="dropdown" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language fa-2x"></i></a>
        <ul class="dropdown-menu" style="min-width: 40px !important;">
            <li><a href="/en/admin/Posts/Index" class="pull-right"><img src="~/Content/images/flag-uk.png" alt="En" /></a></li>
            <li><a href="/tr/admin/Posts/Index" class="pull-right"><img src="~/Content/images/flag-tr.png" alt="Tr" /></a></li>
        </ul>
    </li>
</ul>


