﻿@{
    ViewBag.Title = "About";
}


<div class="bg-1 container-fluid  text-center">
    <h3>@CoursewareIT.Resources.Main.AboutMe</h3>
    <div class="slide">
        <img id="#about-img" src="~/Content/images/user@2x.png" class="img-circle"  style="border: 3px solid antiquewhite" alt="developer" />
        <p>
            @Html.Raw(CoursewareIT.Resources.Main.ILoveToCode)
        </p>
    </div>
    <br />
</div>

<div class="bg-2 container-fluid  text-center">
    <div style="margin: 50px;">
        <h3>@CoursewareIT.Resources.Main.Interestes</h3>
        <div class="row .about-icons">
            <br /><br />
            <div class="col-md-4 ">

                <div class="slide-anime">
                    <i class="fa fa-book fa-4x"></i>
                    <br />
                    <p>@CoursewareIT.Resources.Main.ReadingBooks</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="slide-anime">
                    <i class="fa fa-cloud fa-4x slide-anime"></i>
                    <br />
                    <p>@CoursewareIT.Resources.Main.Analytical</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="slide-anime">
                    <i class="fa fa-database fa-4x slide-anime"></i>
                    <br />
                    <p>@CoursewareIT.Resources.Main.SoftwareDesign</p>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(window)
            .scroll(function () {
                $('.slide-anime')
                    .each(function () {
                        $(this).addClass('slide');
                    });
            });
    </script>
}