﻿@model CoursewareIT.ViewModel.HomeIndex

<br />
<div class="container body-content ">
    <div class="row text-center">
        <!--Posts section-->
        <div class="col-md-4 post-thumbnail">
            @for (var i = 0; i < Model.Posts.Count; i += 3)
            {
                <div class="thumbnail slide">
                    <div class="caption-icons">
                        <span class="label label-primary">
                            <i class="fa fa-eye"></i> @Model.Posts[i].Views views
                        </span>
                    </div>
                    <a href="@Url.Action("Show","Home",new {id=@Model.Posts[i].PostId},(CultureInfo)null)"><img src="@Model.Posts[i].ImgUrl" alt="@Model.Posts[i].Title" /></a>
                    <p>
                        <strong>@Model.Posts[i].Title</strong>
                    </p>
                </div>
            }
        </div>
        <div class="col-md-4 post-thumbnail">
            @for (var i = 1; i < Model.Posts.Count; i += 3)
            {
                <div class="thumbnail slide">
                    <div class="caption-icons">
                        <span class="label label-primary">
                            <i class="fa fa-eye"></i> @Model.Posts[i].Views views
                        </span>
                    </div>
                    <a href="@Url.Action("Show","Home",new {id=@Model.Posts[i].PostId},(CultureInfo)null)">
                        <img src="@Model.Posts[i].ImgUrl" alt="@Model.Posts[i].Title" />
                    </a>
                    <p>
                        <strong>@Model.Posts[i].Title</strong>
                    </p>
                </div>
            }
        </div>
        <div class="col-md-4 post-thumbnail">
            @for (var i = 2; i < Model.Posts.Count; i += 3)
            {
                <div class="thumbnail slide">
                    <div class="caption-icons">
                        <span class="label label-primary">
                            <i class="fa fa-eye"></i> @Model.Posts[i].Views views
                        </span>
                    </div>
                    <a href="@Url.Action("Show","Home",new {id=@Model.Posts[i].PostId},(CultureInfo)null)">
                        <img src="@Model.Posts[i].ImgUrl" alt="@Model.Posts[i].Title" />
                    </a>
                    <p>
                        <strong>@Model.Posts[i].Title</strong>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
