﻿@model CoursewareIT.Models.Post

<div class="container">
    <br />
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8">
            <!-- Blog Post -->
            <!-- Title -->
            <h3>@Model.Title</h3>
            <!-- Author -->
            <p class="lead">
                By : @Model.User.UserName
            </p>
            <hr>
            <!-- Date/Time -->
            <p>
                <span class="glyphicon glyphicon-time"></span> Posted on @Model.post_date
                <br />
                <i class="fa fa-eye"></i> @Model.Views

            </p>
            <hr>
            <!-- Preview Image -->
            <img class="img-responsive" src="@Model.ImgUrl" style="height: 500px; width: 900px;" alt="">
            <hr>
            <!-- Post Content -->
            <p>
                @Model.Body
            </p>
            <hr>
        </div>

        <div class="col-md-4" style="margin-top: 80px">
            <!-- Blog Categories Well -->
            <div class="well">
                <h4>Tags</h4>
                <div class="row">
                    <div class="col-lg-10">
                        @foreach (var tag in Model.Tags)
                        {
                            <a class="btn btn-success btn-xs">@tag.TagName</a>
                        }
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</div>