﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}



/*Start of custom CSS*/


.add-on > button {
    box-shadow: none;
    background: none;
    color: #b0e0e6;
    border: none;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

    .add-on > button:hover {
        color: #ffffff;
        background: none;
        box-shadow: none;
        border: none;
        transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
    }

#logo {
    height: 70px;
    width: 250px;
    position: relative;
    top: -23px;
    left: -20px;
}

.navbar-toggle {
    margin: 15px 15px 0 0;
}


#adminalert {
    margin-top: 13px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

/*start side-bar*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    margin-top: 21px;
    padding-bottom: -1px;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 0;
    width: 50px;
    height: 100%;
    overflow-y: hidden;
    background: #111;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 0;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    padding: 50px;
    width: 100%;
    overflow: auto;
}

.fixed-brand {
    width: auto;
}

/* Sidebar Styles */

.sidebar-nav {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .sidebar-nav li {
        text-indent: 15px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #999999;
        }

            .sidebar-nav li a:hover {
                text-decoration: none;
                color: #fff;
                background: rgba(255, 255, 255, 0.2);
                transition: all .2s ease;
            }

.no-margin {
    margin: 0;
}

.sidebar-nav li.active {
    border-left: 5px solid #1A7AB9;
    color: #fff !important;
}

.sidebar-nav .active i {
    color: #1A7AB9;
}

.sidebar-nav .active a {
    color: #fff;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
        padding-bottom: -1px;
        height: 100%;
    }

    #wrapper.toggled {
        padding-left: 0;
        height: 100%;
    }

    #sidebar-wrapper {
        width: 250px;
        height: 100%;
        margin-bottom: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }

}


.bg-1 {
    background-color: #FFFFFF;
    color: #efffff;
    font-size: 15px;
}

    .bg-1 h3 {
        color: #222222;
    }

    .bg-1 .img-circle {
        margin: 30px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

        .bg-1 .img-circle:hover {
            opacity: 0.95;
            box-shadow: 0 3px 10px black; /* goes x-axis, y-axis, blur, (stretch factor on x-axis, not used here), colour */
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
        }

.bg-2 {
    background-color: #FFFFFF;
    color: #222222;
    font-size: 20px;
}

    .bg-2 h3 {
        color:#222222;
    }


.slide-anime i {
    color: #D23A2E;
    background-color: #ffffff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 15px;
}

    .slide-anime i:hover {
        box-shadow: 0 5px 20px rgba(0,0,0,.6);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }


.slide-anime {
    visibility: hidden;
}

.slide {
    -webkit-animation-name: slide;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

