﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*Start of custom CSS*/


.add-on > button {
    box-shadow: none;
    background: none;
    color: #b0e0e6;
    border: none;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

    .add-on > button:hover {
        color: #ffffff;
        background: none;
        box-shadow: none;
        border: none;
        transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
    }

#logo {
    height: 70px;
    width: 250px;
    position: relative;
    top: -23px;
    left: -20px;
}


.social ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

    .social ul li {
        margin: 10px;
        list-style: none outside none;
        display: inline-block;
    }

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

    .social i:hover {
        color: #FFF;
        text-decoration: none;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        -ms-transition: all ease 0.3s;
    }

    .social i.fa-linkedin {
        padding-top:;
    }

.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-linkedin:hover { /* round twitter icon*/
    background: #1B87BC;
}


.index-background {
    color: #eee;
}

.bg-1 {
    background-color: #2196F3;
    color: #efffff;
    font-size: 15px;
}

    .bg-1 h3 {
        color: #f2f9ff;
    }

    .bg-1 .img-circle {
        margin: 30px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

        .bg-1 .img-circle:hover {
            opacity: 0.95;
            box-shadow: 0 3px 10px black; /* goes x-axis, y-axis, blur, (stretch factor on x-axis, not used here), colour */
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
        }

.bg-2 {
    background-color: #14E8A5;
    color: #efffff;
    font-size: 20px;
}

    .bg-2 h3 {
        color: #ffffff;
    }


.slide-anime i {
    color: #14E8A5;
    background-color: #ffffff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-bottom: 15px;
}

    .slide-anime i:hover {
        box-shadow: 0 5px 20px rgba(0,0,0,.6);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }


.slide-anime {
    visibility: hidden;
}

.slide {
    -webkit-animation-name: slide;
    -webkit-animation-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


.navbar-toggle {
    margin: 15px 15px 0 0;
}


.thumbnail {
    padding: 0 0 15px 0;
    border-radius: 0;
    border: none;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

    .thumbnail .caption-icons {
        position: absolute;
        left: 10px;
        top: 10px;
        color: #d2691e;
        visibility: hidden;
        z-index: 1000;
    }

    .thumbnail:hover .caption-icons {
        visibility: visible;
        transition: all 0.3s ease;
    }

    .thumbnail:hover {
        box-shadow: 0 5px 10px rgba(0,0,0,.6);
        transition: all 0.3s ease;
        border-bottom: 5px solid #2196F3;
        border-right: 5px solid #2196F3;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
    }

        .thumbnail:hover img {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
            opacity: .7;
        }

.post-thumbnail .thumbnail {
    margin-bottom: 10px;
}


#adminalert{
    margin-top: 10px;
    margin-bottom: 0;
}

.login-offset {
    margin: 100px 0 300px 0;
}

/*.dropdown-menu {
    min-width: 40px !important;
}*/
