﻿@model CoursewareIT.Areas.admin.ViewModel.EditRoles
    

<h3>@CoursewareIT.Resources.Main.Users</h3>
@if (!User.IsInRole("owner"))
            {
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        With your privilages you can only edit "authros" and "users" roles , only owner can edit admins
    </div>
}
<div class="panel panel-success">
    <div class="panel-heading">Roles for : User</div>
    <div class="panel-body">
        @using (Html.BeginForm("EditRoles","Users",FormMethod.Post))
        {
            <ul class="list-group">
                @for (var i = 0; i < Model.Roles.Count; i++)
                {
                    <li class="list-group-item">
                        @Html.Hidden("Roles["+ i +"].Id",Model.Roles[i].Id)
                        <label for="Roles_@(i)__IsChecked">
                            @Html.CheckBox("Roles["+ i +"].IsChecked",Model.Roles[i].IsChecked)
                            @Model.Roles[i].Name
                        </label>
                    </li>
                }
            </ul>
            <div class="col-md-12 col-xs-12">
                <button type="submit" class="btn btn-block btn-success">
                    Submit <i class="fa fa-plus-square"></i>
                </button>
            </div>
        }
    </div>
</div>