﻿@model CoursewareIT.Areas.admin.ViewModel.UsersIndex


<div class="container-fluid xyz">
    <h3>@CoursewareIT.Resources.Main.Users</h3>
    <div class="row">
        <div id="divUsers" class="col-lg-12">
            @if (!User.IsInRole("owner"))
            {
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    With your privilages you can only edit "authros" and "users" roles , only owner can edit admins
                </div>
            }
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>@CoursewareIT.Resources.Main.UserName</th>
                    <th>@CoursewareIT.Resources.Main.Email</th>
                    <th>@CoursewareIT.Resources.Main.Roles</th>
                    <th>@CoursewareIT.Resources.Main.Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            @foreach (var role in user.Roles)
                            {
                                <a class="btn btn-xs @(role.RoleName == "admin" ? "btn-danger" : "btn-success")">@role.RoleName </a>@:&nbsp;
                            }
                        </td>
                        <td>
                            <div class="btn-group">
                                <a href="@Url.Action("EditRoles", new {Id = user.UserId})" class="btn btn-warning btn-xs">
                                    <i class="fa fa-edit"></i>
                                    @CoursewareIT.Resources.Main.EditRole
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
